@font-face {
  font-family: "Chalky";
  src: url("../polices/Chalk-Board.otf");
}
@font-face {
  font-family: "HandW";
  src: url("../polices/JandaElegantHandwriting.ttf");
}
.chalky, #returnButton, #resumeContainer, .informationsStatistiques, #titreResume, #nom, #titre, #blackboard {
  font-family: "Chalky";
  color: white;
  font-stretch: ultra-expanded;
}

#blackboard {
  margin-right: auto;
  margin-left: auto;
}

html {
  height: 100%;
  font-size: 0.8em;
}

body {
  background-image: url("../images/fond.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.linedInChalk {
  border: 1px dashed #FFF;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}

#blackboard {
  text-align: center;
  background-image: url("../images/grandtableau.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  width: 700px;
  height: auto;
  padding: 100px 60px;
}

#titre {
  font-size: 6em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#nom {
  font-size: 5em;
  margin-bottom: 30px;
}

#resume {
  text-align: center;
  font-size: 1.5em;
}

#titreResume {
  font-size: 2em;
}

.informationsStatistiques {
  font-size: 1.4em;
}

#resumeContainer {
  display: flex;
  font-size: 1.5em;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

.badgeMoy {
  border-left: 1px dashed white;
  width: 150px;
}
.badgeMoy:first-of-type {
  border: none;
}

.badgeLabel {
  margin-bottom: 10px;
}

.imgBadge {
  width: 40px;
  height: 40px;
}

.details {
  border: 2px solid #FFF;
  border-radius: 7px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
}

.detailsGauche {
  text-align: center;
  border-right: 1px dashed white;
  padding-right: 14px;
  font-size: 1.5em;
  width: 150px;
}

.detailsNomExercice {
  font-size: 1.9em;
}

.detailsGaucheBas {
  margin-top: 17px;
  display: flex;
}

.detailsBadge {
  margin-left: auto;
  margin-right: auto;
}

.imgDetailsBadge {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.detailsMoyenne {
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.detailsDroite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detailsLigneDetails {
  display: flex;
  height: 40px;
  font-size: 1.5em;
  padding-top: 7px;
  width: 470px;
}

.imgNiveauValide img {
  position: relative;
  width: 30px;
  top: 2px;
  margin-right: 10px;
}

.detailsNiveau {
  font-size: 1.4em;
  margin-right: 5px;
  width: 70px;
}

.detailsNombreExercices {
  position: relative;
  top: 3px;
  font-size: 1.2em;
  margin-right: 5px;
  width: 90px;
}

.detailsHisto {
  height: 30px;
  margin-left: 5px;
  margin-right: 10px;
}

.detailsHistoBAD {
  background-color: #d37158;
}

.detailsHistoTranche1 {
  background-color: #00861d;
}

.detailsHistoTranche2 {
  background-color: #00ec33;
}

.detailsHistoTranche3 {
  background-color: #53ff78;
}

#returnButton {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 3em;
  cursor: pointer;
  top: 0px;
  transition-duration: 100ms;
  position: relative;
  border: none;
  background-color: transparent;
  background-image: url("../images/chalkValider.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 250px;
  padding-top: 10px;
}
#returnButton:hover {
  top: -5px;
}

@media (max-device-width: 700px), (max-width: 700px), (max-device-height: 500px) {
  html {
    font-size: 1.8em;
  }

  #blackboard {
    padding-top: 250px;
    padding-bottom: 180px;
    border-radius: 40px;
    width: auto;
  }

  #resumeContainer {
    border-radius: 20px;
    flex-direction: column;
  }

  .badgeMoy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding: 0px 30px;
    border-top: 1px dashed white;
  }

  .imgBadge {
    width: 80px;
    height: 80px;
  }

  .details {
    display: block;
    border-radius: 20px;
    padding-bottom: 20px;
  }

  .detailsGauche {
    margin-bottom: 15px;
    border: none;
    text-align: center;
    width: auto;
  }

  .detailsNomExercice {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .detailsGaucheBas {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .imgDetailsBadge {
    position: relative;
    width: 70px;
    height: 70px;
    top: 0px;
  }

  .detailsDroite {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-top: 15px;
    border-top: 1px dashed white;
  }

  .detailsLigneDetails {
    width: auto;
  }

  .imgNiveauValide img {
    top: 10px;
  }

  .detailsNiveau {
    font-size: 1.2em;
    margin-right: 5px;
    width: 140px;
  }

  .detailsNombreExercices {
    font-size: 1em;
    margin-right: 5px;
    top: 5px;
    width: 190px;
  }

  .detailsHisto {
    position: relative;
    top: 10px;
  }

  .detailsNote {
    margin-left: auto;
  }
}

/*# sourceMappingURL=stat.css.map */
